/* 4 - External */
body{
    padding-bottom: 500px;
}

h3 {
    color: green; font-size: 40px;
}

p {
    /*color: blueviolet;*/
}

/* Algum Comentário */
/* Mais um */ 

/* Classes */

.paragraph {
    background-color: black;
    color: brown;
    padding: 5px;
}

/* ids */

#exclusive-title {
    background-color: cyan;
    color: blue;
    padding: 3px;
}

/* Ordem das regras */

h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 5px solid green;

}

/* Nome de cores */

.color-name{
    color: rgb(238, 0, 0)
}

/* HEX */

.hex-color{

    color: #55a398
}

.hex-color2{
    color: #005a89
}

/* Aprofundando no HEX*/

.aprofundando-no-hex{

    color: #333;
}

.aprofundado-no-hex2{

    color: #A5F;
}

/* RGB */

.rgb-color{

    color: rgb(255, 0, 0);
}

.rgb-color2{

    color: rgb(10,40,200);

}

/* RGBa */

.rgba{
    color: rgba(200,150,250,0.5);
}

/* HSL */

.hsl{
    color: hsl(190,30%,60%);
}

.hsltwo{
    color: hsl(290,40%,60%);
}

/* Cor de fundo backgroud */

.cor-de-fundo{
   background-color: #000;
   color: blueviolet;
}

.cordefundo{
    background-color: rgb(30,40,12);
    color: white;
}

/* Backgroud opacity */

.bg-opacity {
    background-color: #A5F;
    opacity: 0.2;
}

.bg-opacity2 {
    background-color: #2b2c2c;
    opacity: 0.8;
}

/* RGA - Opacidade */

.rgba-opacity{
    background-color: rgb(213, 250,3,0.2);
    color:#000;
}

/* bg - imagen*/

.bg-image{
    background-image: url("..//CSS/img/Todo-fracasso-pode-ser-uma-ponte-para-o-sucesso-1080x675.jpg");
    color: aliceblue;
    padding: 11px;
}

/* 20 - Centralizando imagem de background */ 

.not-centered.bg,
.centered-bg{
height: 400px;
width: 400x;
background-image: url(..//CSS/img/GoldenGateBridge-001.jpg);
}

.centered-bg{
    background-position: center;
    background-size: cover;
}

/*21 - Largura e Altura*/

/* Nesse caso eu usei tanto largura quanto altura, ou seja, ficará da forma que eu desejar*/
.height-width{
height: 200px;
width: 150px;
background-color: blue;
}

/* Nesse caso como eu não limitei a largura com o (width) o valor será de 100% da tela*/
.height-width-2{
    height: 300px;
    background-color: #333;
}

/* 22 - Uso do Padding */

/* Colocamos as duas para ficar de forma mais visivel a diferença entre elas, mas logo abaixo e feito a separada de uma com padding*/
.without-padding,
.padding {
    background-color: rgb(77, 57, 97);
    color: #e6e6e6;
}

.padding {
    padding: 10px;
}

/* 23 Lados individuas padding */

.padding-individual{
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top:41px;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 41px;

}